.before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, .12);
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
th,
td {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

ul,
li {
    list-style: none;
}

ul {
    /* padding-left: 0px !important; */
}

.title_text {
    font-size: 20px;
    color: #101D37;
    font-weight: 500;
}

.pb15 {
    padding-bottom: 15px;
}

.pl15 {
    padding-left: 15px;
}

.pr15 {
    padding-right: 15px;
}

.p15 {
    padding: 15px;
}

.pt_pb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pr_pl15 {
    padding: 0 15px;
}

.pt_pb15 {
    padding: 15px 0;
}

.pt15 {
    padding-top: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pt20 {
    padding-top: 20px;
}

.cours_list .van-tabs--line {
    /* padding-top:  */
}

.cours_list .van-tabs--line .van-tabs__wrap {
    height: 36px;
}

.cours_list .van-hairline--top-bottom::after {
    border-width: 0;
}

.cours_list .van-tabs__wrap::after {
    content: ' ';
    position: absolute;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    border-bottom: 2px solid #ebedf0;
}

.cours_list .van-tab {
    line-height: 24px;
}

.cours_list .van-tab.van-tab--active {
    color: #1DCE74;
}

.cours_list .van-tabs__line {
    background-color: #1DCE74;
}

.text_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    /* word-break: break-all; */
    white-space: nowrap;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text_gray {
    color: #9399A5
}

.text_defalt {
    color: #101D37
}

.single_row {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.van-dialog__confirm,
.van-dialog__confirm:active {
    color: #1DCE74 !important;
}

.multiple_rows {
    overflow: hidden;
    text-overflow: ellipisis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

* {
    -webkit-touch-callout: none;
    /*系统默认菜单被禁用*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -khtml-user-select: none;
    /*早期浏览器*/
    -moz-user-select: none;
    /*火狐*/
    -ms-user-select: none;
    /*IE10*/
    user-select: none;
}

[v-cloak] {
    display: none !important;
}